@import url("https://fonts.googleapis.com/css2?family=Freckle+Face&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

:root {
  --second-family: "Barlow", sans-serif;
}

body {
  font-family: "Fraunces", serif;
}

.container {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.services__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 24px 19px 23px;
  background-color: #e47500;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 121px;
  padding: 8px 98px 9px 121px;
}

.header__location {
  font-weight: 400;
  font-size: 10px;
  color: #1a1a1a;
}
.header__location::before {
  content: " ";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 6px;
  background-repeat: no-repeat;
  background-image: url("../img/location.svg");
  background-position: left;
}

.header__num {
  font-weight: 400;
  font-size: 10px;
  color: #1a1a1a;
}
.header__num::before {
  content: " ";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 6px;
  background-repeat: no-repeat;
  background-image: url("../img/phone.svg");
  background-position: left;
}

.services__list {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.services__list-donts {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.services__list-donts::before {
  content: " ";
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-image: url("../img/ser_donts.svg");
  background-position: left;
}

.services__contact {
  font-weight: 400;
  font-size: 13px;
  padding: 11px 28px 11px 27px;
  background-color: #fff;
  color: #dc7000;
  border-radius: 5px;
}

.services__link {
  display: none;
}

.header__top {
  display: none;
}

.services__logo {
  font-weight: 700;
  font-size: 20px;
  line-height: 155%;
  color: #fff;
}

.services__btn {
  height: 21px;
  width: 26px;
  background-repeat: no-repeat;
  background-image: url("../img/services.svg");
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .header__top {
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .services__btn {
    display: none;
  }
  .services__link {
    margin-top: 5px;
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    gap: 65px;
  }
  .services__name {
    padding-left: 63px;
    padding-right: 83px;
  }
}
.lorem {
  margin-bottom: 76px;
}

.lorem__title {
  padding: 62px 118px 33px 117px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 209%;
  color: #848484;
}

.lorem__services {
  font-weight: 400;
  font-size: 16px;
  line-height: 209%;
  color: #e47500;
}

.lorem__text {
  margin-left: 27px;
  margin-right: 28px;
  margin-bottom: 33px;
  font-weight: 600;
  font-size: 25px;
  line-height: 180%;
  text-align: center;
  color: #222;
}

.lorem__words {
  margin-left: 56px;
  margin-right: 56px;
  margin-bottom: 27px;
  font-weight: 500;
  font-size: 12px;
  line-height: 187%;
  text-align: center;
  color: #898989;
}

.lorem__map {
  margin-top: 85px;
  margin-left: 52px;
  margin-right: 23px;
}

.lorem__phone {
  margin-left: 29px;
  font-weight: 300;
  font-size: 17px;
  color: #333;
  margin-top: 79px;
}
.lorem__phone::before {
  content: " ";
  display: inline-block;
  margin-right: 25px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url("../img/tel.svg");
  background-position: left;
}

.lorem__line {
  margin-top: 38px;
  margin-right: 40px;
  margin-left: 29px;
}

.lorem__line2 {
  display: none;
}

.lorem__twoMap {
  display: none;
}

.lorem__list {
  margin-left: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lorem__gps {
  margin-left: 29px;
  font-weight: 300;
  font-size: 17px;
  color: #333;
  margin-top: 76px;
}
.lorem__gps::before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 29px;
  margin-right: 19px;
  background-repeat: no-repeat;
  background-image: url("../img/gps.svg");
  background-position: left;
}

.lorem__follow {
  margin-left: 29px;
  margin-top: 42px;
  font-weight: 400;
  font-size: 16px;
  line-height: 189%;
  color: #000;
}

@media screen and (min-width: 768px) {
  .lorem__title {
    padding: 62px 118px 15px 117px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 209%;
    color: #848484;
  }
  .lorem__text {
    margin-left: 27px;
    margin-right: 28px;
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 25px;
    line-height: 180%;
    text-align: center;
    color: #222;
  }
  .lorem__words {
    margin-left: 56px;
    margin-right: 56px;
    margin-bottom: 27px;
    font-weight: 500;
    font-size: 12px;
    line-height: 187%;
    text-align: center;
    color: #898989;
  }
  .lorem__twoMap {
    margin-left: 39px;
    display: inline-block;
  }
  .lorem__map {
    display: none;
  }
  .lorem__block {
    gap: 77px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .lorem__line {
    display: none;
  }
  .lorem__line2 {
    display: inline-block;
  }
}
.input__block {
  margin-top: 127px;
  text-align: start;
}

.input__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 187%;
  color: #222;
  margin-bottom: 13px;
}

.input__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #525252;
  margin-bottom: 41px;
}

.input__box {
  padding: 30px 32px 18px 21px;
  text-align: center;
  background-color: #222;
  border-radius: 10px;
  margin-bottom: 30px;
}

.input__name {
  font-weight: 500;
  font-size: 30px;
  color: #fff;
  margin-bottom: 24px;
}

.input__words {
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  margin-bottom: 43px;
}

.input__writer {
  width: 275px;
  height: 52px;
}

@media screen and (min-width: 768px) {
  .input__link {
    text-align: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .input__writer {
    margin-top: 35px;
    width: 385px;
    height: 48px;
  }
}
.ipsum {
  padding-bottom: 61px;
  background-color: #F5F5F5;
}

.ipsum__title {
  padding-top: 59px;
  text-align: center;
  font-weight: 400;
  font-size: 23px;
  line-height: 189%;
  color: #000;
}

.ipsum__text {
  margin-top: 12px;
  font-weight: 500;
  font-size: 13px;
  line-height: 189%;
  text-align: center;
  color: #777;
  margin-bottom: 79px;
}

.ipsum__list {
  gap: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ipsum__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 175%;
  letter-spacing: -0.02em;
  color: #4f4f4f;
}

.ipsum__frist {
  border: 0.6px solid #cecece;
  border-radius: 9px;
  width: 153px;
  height: 48px;
}

.ipsum__email {
  border: 0.6px solid #cecece;
  border-radius: 9px;
  width: 319px;
  height: 48px;
}

.ipsum__message {
  border: 0.6px solid #cecece;
  border-radius: 9px;
  width: 319px;
  height: 200px;
}

.ipsum__btnGet {
  margin-top: 66px;
  text-align: end;
}

.ipsum__btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 204%;
  color: #fff;
  border-radius: 10px;
  padding: 11px 47px 11px 47px;
  background-color: #dc7000;
}

@media screen and (min-width: 768px) {
  .ipsum__frist {
    border: 0.6px solid #cecece;
    border-radius: 9px;
    width: 322px;
    height: 56px;
  }
  .ipsum__email {
    border: 0.6px solid #cecece;
    border-radius: 9px;
    width: 671px;
    height: 56px;
  }
  .ipsum__message {
    border: 0.6px solid #cecece;
    border-radius: 9px;
    width: 671px;
    height: 232px;
  }
  .ipsum__content {
    margin-left: 22%;
  }
  .ipsum__btn {
    margin-right: 20%;
  }
}
.footer {
  background-color: black;
}

.footer__title {
  padding: 22px 54px 27px 54px;
  font-weight: 400;
  font-size: 12px;
  line-height: 191%;
  color: #fff;
}/*# sourceMappingURL=main.css.map */